<%- include("functions/functions") -%>
<%- include("partials/header") -%>
<%- include("section-body") -%>

<section class="graph-section">
    <h1 class="graph-testing"><%= listItems[0].country %></h1>
    <canvas id="myChart1" style="width: 100%; height: 60vh;"></canvas>

    <script src="/scripts/graph.js"></script>
</section>

<%- include("partials/footer") -%>