<%- include("functions/functions") -%>
<%- include("partials/header") -%>
<%- include("section-body") -%>

<section class="table-section container-fluid justify-content-center">
    <table class="table-bordered dataTable" role="grid" width="100%">
        <thead>
            <tr>
                <th scope="col">Country</th>
                <th scope="col">Total Cases</th>
                <th scope="col">New Cases</th>
                <th scope="col">Total Deaths</th>
                <th scope="col">New Deaths</th>
                <th scope="col">Recovered Cases</th>
                <th scope="col">Critical Cases</th>
                <th scope="col">Active Cases</th>
            </tr>
        </thead>
        <tbody class=table-body>
            <% listCountry.forEach(country => { %>
                <tr>
                    <td class="country"><img class="country-flag" src="<%= country.countryInfo.flag %>"/><u><a href="/country/<%= country.country %>"><%= country.country%></a></u></td>
                    <td class="total-cases"><%= numCommas(country.cases) %></td>
                    <td><%= country.todayCases > 0 ? "+" : "" %><%= numCommas(country.todayCases) %></td>
                    <td><%= numCommas(country.deaths) %></td>
                    <td class="dangerData bg-danger"><%= country.todayCases > 0 ? "+" : "" %><%= numCommas(country.todayDeaths) %></td>
                    <td class="dangerData bg-success"><%= numCommas(country.recovered) %></td>
                    <td class="dangerData" style="background-color: orange;"><%= numCommas(country.critical) %></td>
                    <td><%= numCommas(country.active) %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</section>

<%- include("partials/footer") -%>
