<section class="container-fluid">
    <div class="main-title">
        <div class="circle"></div>
        <div class="circle-live"><p>LIVE</p></div>
        <h1><span class="dashboard"><%= title(listCountry) %><span></h1>
        <p><em>Last Updated: <%= timeUpdate %></em></p>
    </div>
</section>

<section class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="confirmed-div col-lg-3 col-md-6">
            <div class="confirmed-data bg-info">
                <div class="card-body">
                    <h5 class="card-title">Confirmed</h5>
                    <i class="fas fa-viruses fa-4x"></i>
                    <p class=card-text><%= numCommas(addition("cases")) %></p>
                </div>
            </div>
        </div>
        <div class="death-div col-lg-3 col-md-6">
            <div class="death-data bg-danger">
                <div class="card-body">
                    <h5 class="card-title">Deaths</h5>
                    <i class="fas fa-skull-crossbones fa-4x"></i>
                    <p class=card-text><%= numCommas(addition("deaths")) %></p>
                </div>
            </div>
        </div>
        <div class="recovered-div col-lg-3 col-md-6">
            <div class="recovered-data bg-success">
                <div class="card-body">
                    <h5 class="card-title">Recovered</h5>
                    <i class="fas fa-heartbeat fa-4x"></i>
                    <p class=card-text><%= numCommas(addition("recovered")) %></p>
                </div>
            </div>
        </div>
        <div class="critical-div col-lg-3 col-md-6">
            <div class="critical-data" style="background-color: orange;">
                <div class="card-body">
                    <h5 class="card-title">Critical</h5>
                    <i class="fas fa-procedures fa-4x"></i>
                    <p class=card-text><%= numCommas(addition("critical")) %></p>
                </div>
            </div>
        </div>
    </div>
</section>